

:root {
  --black: #000000;
  --vdarkgray: #1d1a1c;
  --darkgray: #2c2c2e;
  --midgray: #5f5f66;
  --lightgray: #9f9fae;
  --cream: #f4eade;
  --green: #7fd87f;
  --yellow: #dfe38c;
  --blue: #83afdf;
  --red: #df8e83;
}

body {
  background-color: var(--darkgray);
  color:var(--cream);  
  font-family: Verdana, sans-serif;
}



p,h1 {
  font-size: 50px;
  margin-left: 30px;
  font-weight: 1000;
}

p {
  padding-top: 10px;
  font-size: 30px;
  border-top: 8px solid var(--vdarkgray);
}

* {
  user-select: none;
}

a {
  color: var(--blue);
}

.video-embed {
  margin-left: 30px;
  width: 450px;
  height: auto;
  display: block;
  border-radius: 8px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 10px;
  padding: 20px;
}

.thumbnail {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
  cursor: pointer;
  border-radius: 8px;
  transition: transform 0.2s;
}

.thumbnail:hover {
  transform: scale(1.05);
}

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 1000;
}

.lightbox img {
  max-width: 90%;
  max-height: 80%;
  border-radius: 10px;
}

#closeBtn, #prevBtn, #nextBtn {
  position: absolute;
  font-size: 2rem;
  color:var(--cream);
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
}

#closeBtn {
  top: 20px;
  right: 30px;
}

#prevBtn {
  left: 30px;
}

#nextBtn {
  right: 30px;
}

#prevBtn, #nextBtn {
  transform: translateY(-50%);
  top: 50%;
  border-radius: 8px;
}

.hidden {
  display: none;
}